[Unit]
Description={{ glpi_pod_name }}
After=network-online.target

[Pod]
PodName={{ glpi_pod_name }}
{% for port in glpi_pod_publish_ports %}
PublishPort={{ port }}
{% endfor %}

[Install]
WantedBy=default.target