[Unit]
Description=Loki - Log Aggregation System
Documentation=https://grafana.com/docs/loki/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ loki_user }}
Group={{ loki_group }}

ExecStart={{ loki_binary }} \
  -config.file={{ loki_config_path }}

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ReadWritePaths={{ loki_data_dir }}

Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
