[defaults]
# Path to the inventory file
inventory = inventory/hosts.yaml

# Default remote user for SSH connections
remote_user = ansible
private_key_file = ~/.ssh/ansible_id

# Python interpreter
interpreter_python = auto_silent

# Use YAML output for better readability
stdout_callback = yaml

# Gather only a subset of facts by default (faster)
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 3600

# Roles path
roles_path = roles/

# Logs path
log_path = ansible.log

[privilege_escalation]
# Default privilege escalation settings
become=true
become_method=sudo
become_user=root
become_ask_pass=false

[ssh_connection]
pipelining = true
